body {
	background-color: #F5F5F5;
	font-family: Arial, sans-serif;
}

header {
    background-color: #1f1b1b;
    max-width: 600px;
    margin: 20px auto;
	width: 80%;
	max-width: 600px;

	color: #eae4e4;
	padding: 10px;
	text-align: center;
}

h1 {
	margin: 0;
}

#form-section {
	background-color: #FFF;
	padding: 20px;
	margin: 20px auto;
	width: 80%;
	max-width: 600px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #333;
	color: #FFF;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #555;
}

footer {
	color: #FFF;
	padding: 10px;
	text-align: center;
}
